@media only screen and (min-width: 992px) and (max-width: 1080px){
    .card_column .text_top #option{
        float: left;
        margin-top: 32px;
      }
  }
@media only screen and (min-width: 20px) and (max-width: 632px){
    .card_column .text_top #option{
        float: left;
        margin-top: 32px;
      }
}